<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
</head>
<body>
    <form >
        <h3>Confirmation</h3>
        <div>
            <label>First Name: </label>
            <span th:text="${mentor.firstName}"></span>
        </div>
        <div>
            <label>Last Name: </label>
            <span th:text="${mentor.lastName}"></span>
        </div>
        <div>
            <label>Email: </label>
            <span th:text="${mentor.email}"></span>
        </div>
        <div>
            <label>Graduated: </label>
            <span th:text="${mentor.graduated}"></span>
        </div>
        <div>
            <label>Gender: </label>
            <span th:text="${mentor.gender}"></span>
        </div>
        <div>
            <label>Batch Number: </label>
            <span th:text="${mentor.batch}"></span>
        </div>
        <div>
            <label>Company : </label>
            <span th:text="${mentor.company}"></span>
        </div>
        
        
    </form>
</body>
</html>