<!DOCTYPE html><!--represents html version-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    Container for metadata(is not displayed)
            Title, styles(CSS), Link, Scripts, Meta and others
    -->
    <style></style>
</head>
<body>
    <!-- Whatever we write in Body, will be displayed in the browsers   -->
    Welcome to Java Spring Developer Course !!!
    <h1>Spring Boot</h1>
    <h2>Spring Boot</h2>
    <h3>Spring Boot</h3>
    <h1 align="left" style="color: blue">Spring1  Framework</h1>
    <img src="springboot.png" alt="Spring Boot img">
    
    <ul>
        <li>MVC</li>
        <li>ORM</li>
        <li>API</li>
    </ul>
    
    <a href="https://www.amazon.com">Amazon</a>
    <table>
        <thead>
            <tr>
                <th>Col1</th>
                <th>Col2</th>
                <th>Col3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Loop</td>
                <td>Collection</td>
                <td>Stream</td>
            </tr>
            <tr>
                <td>IoC</td>
                <td>DI</td>
                <td>MVC</td>
            </tr>
        </tbody>
        
    </table>
    
    <!--    Forms    -->
    <label>User Name: </label>
    <input type="text" name="username" placeholder="enter user name"><br>
    <label>Password: </label>
    <input type="password" placeholder="enter a password"><br><br>
    <label>Enter your comments: </label>
    <textarea name="comments"></textarea><br><br>
    
    <label>Please select your favorite subject: </label><br>
    
    <input type="radio" name="Spring" value="IoC" checked="checked">IoC</input> <br>
    <input type="radio" name="Spring" value="DI">DI</input> <br>
    <input type="radio" name="Spring" value="MVC">MVC </input> <br>

    <label>Please select your company</label><br>
    <input type="checkbox" name="company" value="Bank of america">BOA</input><br>
    <input type="checkbox" name="company" value="SouthWest Airlines">SWA</input><br>
    <input type="checkbox" name="company" value="Limited">LTD </input><br>
    
    <label>Select your car: </label>
    <select name="cars">
        <option value="">---Select one of the car---</option>
        <option value="honda">Honda</option>
        <option value="nissan">Nissa</option>
        <option value="bmw">325I</option>

    </select>
    
    <form action="#" method="get">
        First name : <input type="text" name="first_name" />
        <br>
        Last name  : <input type="text" name="last_name" />
    </form>
    <div>
        <h3>This is java developer course</h3>
        <ul>
            <li>Spring Framework</li>
            <li>Security</li>
            <li>Unit testing</li>
        </ul>
    
    </div>






</body>
</html>